<ion-content>
    <ion-card-header>
        <ion-card-subtitle style="text-align: center;">Sistema de Pedido</ion-card-subtitle>
        <img src="/assets/icon/batman.png" style="width: 92px;margin-left: 40px;" alt="" />
      </ion-card-header>
    <form>
      <ion-item> 
        <ion-label stacked >Email:</ion-label>
        <ion-input [(ngModel)]='email' name="email"  type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label stacked>Password:</ion-label>
          <ion-input [(ngModel)]='senha' name="senha"  type="Password"></ion-input>
      </ion-item>
      <ion-button  (click)="login()" style="margin-left: 50px;">Entrar</ion-button>
    </form>
    <ion-button style="margin-left: 36px;">Registrar</ion-button>
</ion-content>
